* {
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: $body-bg;
  color: $text-primary;
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
